.homeLayout {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: medium;
  color: black;
}

.teamsWrapper {
  display: flex;
  justify-content: space-between;
}
